* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}

body {
  padding: 40px;
  background-color: rgb(94, 94, 94);
  font-family: 'Franklin Gothic Medium', Arial;
}

h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 45px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1024px;
  margin: 0 auto;

}

.card {

  border: 3px solid #790000ff;
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  min-height: 100px;


}

button {
  border: none;
  font-size: 30px;
  background-color: transparent;
  width: 100%;
  text-align: right;
  cursor: pointer;



}