* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}

body {
  padding: 40px;
  background-color: rgb(94, 94, 94);
  font-family: 'Franklin Gothic Medium', Arial;
}

h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 30px;
  font-size: 45px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1024px;
  margin: 0 auto;

}

.card {}