* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}

body {
  padding: 40px;
  background-color: rgb(148, 226, 235);
  font-family: 'Franklin Gothic Medium', Arial;
}

h2 {
  color: rgb(14, 21, 228);
  text-align: center;
  margin-bottom: 30px;
  font-size: 45px;
}